* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Rubik Mono One', sans-serif;
}

.bg-red {
    background-color: #FF0000;
    height: 100vh ;
}

.bg-green {
    background-color: green;
    height: 100vh ;
}

.bg-yellow {
    background-color: yellow;
    height: 100vh ;
    
}

.menu{
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

.number {

    height: 50px;
    width:50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding-top:15px  ;
    margin:10px;
}

.container-img {
    text-align: center;
    
}

.color-y {
    font-size: 40px;
    color: yellow;
}

.color-g {
    font-size: 40px;
    color: green;
}

